<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT _genericProperties ANY>
<!ATTLIST _genericProperties id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT site ANY>
<!ATTLIST site id ID #REQUIRED>
<!ELEMENT standardPage ANY>
<!ATTLIST standardPage id ID #REQUIRED>

]>
<root id="-1">
  <site id="1062" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-10-24T22:13:12" updateDate="2013-10-24T22:18:54" nodeName="Site" urlName="site" path="-1,1062" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="site">
    <Home id="1063" parentID="1062" level="2" creatorID="0" sortOrder="0" createDate="2013-10-24T22:13:12" updateDate="2013-10-24T22:13:12" nodeName="Home" urlName="home" path="-1,1062,1063" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1059" nodeTypeAlias="Home" />
    <umbracoInternalRedirectId>1063</umbracoInternalRedirectId>
  </site>
</root>