<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="umigrations" type="Cardinal.UmbracoExt.Migrations.MigrationsSettingsSection, Cardinal.UmbracoExt.Migrations"  allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <umigrations scriptsNamespace="Cardinal.UmbracoExt.Migrations.Tests.Web.Migrations" rerun="true" assembly="Cardinal.UmbracoExt.Migrations.Tests.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>    
</configuration>